body{
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    color: #434455;
    line-height: 24px;
    background-color: #ffffff;
}

.darkvg{
    background-color: #2e2f42;
    width: 1350px;
    height: 600px;
    
    
}
.darkvg .hone-one{
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}



button{
    color: #404BBF;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    margin-left: 530px;
    margin-top: 200px;
    cursor: pointer;
}


a:hover,
button:hover{
    color: #4D5AE5;
}

.ourimg{
    width: 360px;
}

.team{
    color: #000000;
 
}

.team:hover{
color: #2e2f42;
}
.ourteam{
    background-color: #f4f4fd;
    text-align: center;
    line-height: 40px;
    
}

.ourportfolio h2{

    text-align: center;
}
.ourportfolio ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 130px;
    border: 1px, 1px, 1px, 1px ;
}
.ourportfolio ul li{
    flex: 3;
}



body, header, nav, ul, li, a, address {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header nav{
    margin-left: 60px;
    display: flex;
    margin-top: 50px;
}
.head-er{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
   
}
header nav a {
 
    gap: 20px;
    margin-right: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

  }
  .spa-ns{
    color: #2e2f42;
    font-weight: 500;


  }

  header address ul {
    display: flex;
    list-style: none;
    gap: 20px; 
  }
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px; 
  }

.ourteam ul{
    display: flex   ;
    list-style: none;
}
.ourteam ul li{
    margin: 25px;
}
.section2 ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 150px;
}



footer{
    background-color: #2e2f42;
    height: 300px;
    width: 1350px;
    color: #f4f4fd;
}

footer a{
    font-family: "Raleway", sans-serif;
    font-weight: 700px;
    size: 18px;
    color: #f4f4fd;
    margin-left: 30px;
    line-height: 25px;
    width: 71px;
}